.wrapper {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  margin: auto;
  color: rgb(244, 209, 158);
}

.textBlocks {
  background-color: rgb(238, 238, 238);
  height: 100%;
}

main {
  position: relative;
}

.mainContent {
  font-size: 0px;
  display: flex;
  align-items: stretch;
  height: fit-content;
}

article {
  padding: 20px;
}

article > h2 {
  margin-bottom: 10px;
  font-size: 2rem;
}

article > p {
  text-align: justify;
}

.mainContent > section {
  font-size: 1rem;
  height: auto;
}
